
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;

    .panel{
        width: 80%;
        max-width: 800px;
        height: 90%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: inherit;
        justify-content: space-around;
        padding-block-end: 15px;
        padding-block-start: 15px;
    }
}